table {
    width: 100%;
  }
  .example-button-row button,
  .example-button-row a {
    margin-right: 8px;
    background-color: #607D8B;
    font-family: 'Roboto', sans-serif;
  }
  
  .example-disabled {
    display: inline-block;
  }
  